@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --moderate-blue:  hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);

    --ff-primary: 'Rubik', sans-serif;;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    min-height: 100%;
    overflow-x: hidden;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* general styling */
body {
    margin-block: 40px;
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

@media (min-width: 47em) {
    .comment-item {
        width: 730px;
        height: 167px;
        border-radius: 5px;
    }
    .reply-section {
        width: 642px;
        height: 167px;
        border-radius: 5px;
    }
    
    .content-text {
        max-width: 59ch;
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .space-between {
        display: flex;
        justify-content: space-between;
    }
    .delete-btn{
        width: 400px;
        height: 252px;
    }
    .buttons > * {
       width: 161px;
       height: 48px;
    }
    .content-text-reply  p{
        max-width: 50ch;
    }
}



.comment-section {
    display: flex;
    flex-direction: column;
    float: right;
}

.comment-item {
    background-color: var(--white);
    margin-block: 20px;
}
.reply-section {
    background-color: var(--white);
    margin-block: 20px;
}
.content-text {
    color: var(--grayish-blue);
}
.content-text span {
    color: var(--moderate-blue);
    font-weight: var(--fw-medium);
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 40px;
    background-color: var(--very-light-gray);
    border-radius: 5px;
    padding: 10px;
}
@media (max-width: 47em) {
    body {
        margin: 20px;
    }
    .top-contents {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .comment-item,
    .reply-section {
        display: grid;
        width: 343px;
        height: 280px;
        padding: 15px;
    }
    .score {
        flex-direction: row;
        height: 40px;
        width: 100px;
        order: 1;
        margin-block-start: 20px;
    } 
   .content {
    position: relative;
   }
    .reply {
        position: absolute;
        right: 0;
        bottom: -50px;
    }
    .delete-btn {
        height: 224px;
        width: 343px; 
    }
    .buttons > *{
        height: 48px;
        width: 138px;
    } 
}
.input-field,
.reply-field {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
}

@media (min-width: 47em) {
    .input-field textarea {
        width: 506px;
        height: 96px;
    }
    .reply-field textarea {
        width: 418px;
        height: 96px;
    }
    .input-field {
        clear: both;
        width: 730px;
        height: 144px;
    }
    .reply-field {
        float: right;
        width: 642px;
        height: 144px;
    }
}
@media (max-width: 47em) {
    .input-field textarea {
        width: 311px;
        height: 96px;
    }
    .reply-field textarea {
        width: 257px;
        height: 96px;
    }
    .input-field {
        clear: both;
        width: 343px;
        height: 189px;
    }
    .reply-field {
        float: right;
        width: 325px;
        height: 189px;
    }
}
.input-field textarea,
.reply-field textarea {
    border-radius: 8px;
    border: 2px solid var(--light-gray);
    resize: none;
    padding: 12px;
}


.input-field textarea:focus,
.reply-field textarea:focus {
    border: 0;
    outline: 1px solid var(--moderate-blue);
}
.send-btn {
    height: 48px;
    width: 104px;
    border: 0;
    background-color: var(--moderate-blue);
    cursor: pointer;
    color: var(--white);
    border-radius: 8px;
}
.send-btn:hover,
.send-btn:focus-visible {
    background-color: var(--light-grayish-blue);
}



.vl {
    width: 20px;
    background-color: red;
}

.delete-btn {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--white);
    border-radius: 5px;
    border-radius: 8px;
}
.buttons > * {
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.btn-1 {
    background-color: var(--grayish-blue);
}
.btn-2 {
    background-color: var(--soft-red);
}
.delete-btn h2 {
    font-size: 20px;
    font-weight: var(--fw-medium);
    color: var(--dark-blue);
}
.delete-btn p {
    color: var(--grayish-blue);
}
.score img {
    width: 10.07px;
    height: 10px;
    cursor: pointer;
}
.score img:hover {
    color: var(--dark-blue);
    outline: 2px solid red;
    fill: red;
}
.score .minus-icon {
    height: 2.5px;
}
.score p {
    color: var(--moderate-blue);
}
.you {
    background-color: var(--moderate-blue);
    color: var(--white);
    text-align: center;
    font-weight: var(--fw-medium);
    padding: 0px 8px;
    border-radius: 3px;
}

/* icons */
.reply-icon {
    height: 12.25px;
    width: 14px;
}
.reply {
    color: var(--moderate-blue);
    font-weight: var(--fw-medium);
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.top-contents img,
.input-field img,
.reply-field img {
    height: 32px;
    width: 32px;
}
.top-contents h2{
    color: var(--dark-blue);
    font-weight: var(--fw-medium);
}
.top-contents p{
    color: var(--grayish-blue);
    margin-block: 15px;
}
