@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --moderate-blue:  hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);

    --ff-primary: 'Rubik', sans-serif;;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    min-height: 100%;
    overflow-x: hidden;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* general styling */
body {
    margin-block: 40px;
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}
@media (min-width: 47em) {
    .comment-item {
        width: 730px;
        height: 167px;
    }
    .content-text {
        max-width: 59ch;
    }
}
.comment-item {
    background-color: var(--white);
}
.content-text {
    color: var(--grayish-blue);
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 40px;
    background-color: var(--very-light-gray);
    border-radius: 5px;
    padding: 10px;
}
.score img {
    width: 10.07px;
    height: 10px;
}
.score .minus-icon {
    height: 2.5px;
}
.score p {
    color: var(--moderate-blue);
}


/* icons */
.reply-icon {
    height: 12.25px;
    width: 14px;
}
.reply {
    color: var(--moderate-blue);
    font-weight: var(--fw-medium);
    cursor: pointer;
}

.top-contents img {
    height: 32px;
    width: 32px;
}
.top-contents h2{
    color: var(--dark-blue);
    font-weight: var(--fw-medium);
}
.top-contents p{
    color: var(--grayish-blue);
    margin-block: 15px;
}

/* utility classes */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.space-between {
    display: flex;
    justify-content: space-between;
}